- provide(:title, "Home")

- @conferences.each do |c|

	.col-md-12.col-xs-12
		%p
			%h2
				= c.Conf_date
				%br
				%br
				=h c.Prog_lang

		%p 
			Konferencja odbędzie się w mieście #{h c.City} na ul. #{h c.Street}
		%p 
			Kilka słów o samej konferencji:
			%br
			=h c.Short_desc
		- if c.Date_of_accept.present?
			= button_to "Decline", {:controller => :admins, action: 'decline', :id => c.id}, data: {confirm: 'Are you sure you want to decline this conference?'}, :method => :post
		-	elsif c.Date_of_reject.present?
			= button_to "Accept", {:controller => :admins, action: 'accept', :id => c.id}, data: {confirm: 'Are you sure you want to accept this conference?'}, :method => :post
			= button_to "Remove", {:controller => :admins, action: 'destroy', :id => c.id}, data: {confirm: 'Are you sure you want to delete this conference from db?'}, :method => :post
		-	else
			= button_to "Accept", {:controller => :admins, action: 'accept', :id => c.id}, data: {confirm: 'Are you sure you want to accept this conference?'}, :method => :post
			= button_to "Decline", {:controller => :admins, action: 'decline', :id => c.id}, data: {confirm: 'Are you sure you want to decline this conference?'}, :method => :post
