- provide(:title, "Home")

- @conferences.each do |c|

	.col-md-12.col-xs-12
		%p
			%h2
				= c.Conf_date
				%br
				%br
				=h c.Prog_lang

		%p 
			Konferencja odbędzie się w mieście #{h c.City} na ul. #{h c.Street}
		%p 
			Kilka słów o samej konferencji:
			%br
			=h c.Short_desc
		- if c.Date_of_accept.present?
			= button_to "Decline", {:controller => :admins, action: 'decline', :id => c.id}, :method => :post
		-	elsif c.Date_of_reject.present?
			= button_to "Accept", value: "accept"
			= button_to "Remove", value: "remove"
		-	else
			= button_to "Accept", value: "accept"
			= button_to "Decline", value: "decline"
