- provide(:title, "API")

.col-md-12.col-xs-12
	%p Database were succesfully uploaded with new conferences from Meetup API




	
-# all turned off to only let API link upload database with new records
-=begin
- @open_events["results"].each do |e|
	.col-md-12.col-xs-12
		%p
			%h2
				-#=h Time.at(e["time"]).to_date.to_s[0..10]
				- temp = e["time"].to_s[0..9]
				-# temp.instance_of? String
				= Time.at(temp.to_i).utc
				%p
				- details = HashWithIndifferentAccess.new(e["venue"])
				- if details["city"].present?
					= details["city"]
					%br
				- if details["address_1"].present? || details["address_2"].present? || details["address_3"].present?
					= details["address_1"]
					= details["address_2"] 
					= details["address_3"]
					%br
				- if details["localized_country_name"].present?
					= details["localized_country_name"]
				%p
				= e["name"].html_safe
		%p
			= e["description"].html_safe unless e["description"].blank?
		%br
		%br
		%br
-=end