%header.navbar.navbar-fixed-top.navbar-inverse
	.container
		= link_to "Devmeet", root_path, id: "logo"
		%nav
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Home", root_path
				%li= link_to "Add conference", new_path
				%li= link_to "Manage website", manage_path
				%li= link_to "Api", meetupdata_path